RewriteEngine On
RewriteBase /AEGIS-MVC-MODULAR/public/

# Si el archivo o carpeta no existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Enviar la ruta amigable a index.php (ej. /login -> ?url=login)
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]